<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li
          routerLink="/gender/men"
          class="btn btn-ghost"
          routerLinkActive="text-secondary"
        >
          <a i18n>Men</a>
        </li>
        <li
          routerLink="/gender/women"
          class="btn btn-ghost"
          routerLinkActive="text-secondary"
        >
          <a i18n>Women</a>
        </li>
        <li
          routerLink="/gender/kids"
          class="btn btn-ghost"
          routerLinkActive="text-secondary"
        >
          <a i18n>Kids</a>
        </li>
      </ul>
    </div>
    <a routerLink="/" class="btn btn-ghost text-xl font-montserrat" i18n>
      Teslo
      <span class="text-secondary">| Shop</span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li
        routerLink="/gender/men"
        class="btn btn-ghost"
        routerLinkActive="text-secondary"
      >
        <a i18n>Men</a>
      </li>
      <li
        routerLink="/gender/women"
        class="btn btn-ghost"
        routerLinkActive="text-secondary"
      >
        <a i18n>Women</a>
      </li>
      <li
        routerLink="/gender/kids"
        class="btn btn-ghost"
        routerLinkActive="text-secondary"
      >
        <a i18n>Kids</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end gap-4">
    @if (authService.isAdmin()) {
    <a routerLink="/admin" class="btn btn-accent" i18n>Admin Panel</a>
    }
    <!-- -->
    @if (authService.isAuthenticated()) {
    <button class="btn btn-ghost">{{ authService.user()?.fullName }}</button>
    <button class="btn btn-error btn-sm" i18n (click)="authService.logout()">
      Log out
    </button>
    }
    <!-- -->
    @else if (authService.isNotAuthenticated()) {
    <a routerLink="/auth/login" class="btn btn-secondary" i18n>Log in</a>
    }
    <!-- -->
    @else {
    <button class="btn btn-ghost">...</button>
    }
  </div>
</div>
