@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night;
}
@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --animate-fade-in: fade-in 0.3s ease-in-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/MontserratAlternates-Medium.ttf") format("truetype");
  }
}
